
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #faf9f6;
    color: #223;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.95);
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  color: #eda93b;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
  display: flex;
}
.logo-text {
  color: #ee5822;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
}
.gift-icon {
  font-size: 32px;
}
 .search-bar{
    width: 40%;
 }
    .search-bar input {
      width: 60%;
      padding: 8px 10px;
      margin-left: 10%;
      border: 2px solid #070505;
      border-radius: 20px;
    }
a {
  text-decoration: none;
  color: #e88d28;
} 




main {
  padding: 60px;
}
.product {
  display: flex; 
  background-color: #ffffff;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 30px;
}
.product img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  margin-right: 30px;
}
.product-info {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 15px;
  background-color: #fff;
  width: 300px;
}
.product-info input {
  width: 40px;
  text-align: center;
}
.product-info button {
  background: #fff;
  border: 1px solid #aaa;
  cursor: pointer;
}
.buy-btn {
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  font-weight: 600;
} 



.footer {
  background-color: #e88d28;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  position: sticky;
  bottom: 0;
  z-index: 100px;
}
.footer a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}
