
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #faf9f6;
    color: #223;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.95);
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  color: #eda93b;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
  display: flex;
}
.logo-text {
  color: #ee5822;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
}
.gift-icon {
  font-size: 32px;
}
 .search-bar{
    width: 40%;
 }
    .search-bar input {
      width: 60%;
      padding: 8px 10px;
      margin-left: 10%;
      border: 2px solid #070505;
      border-radius: 20px;
    }
a {
  text-decoration: none;
  color: #e88d28;
} 


.cart-icon, .user-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

main{
    margin-bottom: 90px;
}

.category-header {
    text-align: center;
    margin-top: 40px;
}

.category-header h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.category-desc {
    color: #224899;
    font-size: 20px;
    margin-bottom: 40px;
}


.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    
}

.product-card {
    
    background: #fff;
    border-radius: 18px;
    
    width: 320px;
    display: flex;
    flex-direction: column;
    transition:transform 0.18s;
    margin-bottom: 32px;
}

.product-card:hover {
    transform:scale(1.025);
}

.product-card img {
    width: 100%;
    height: 80%;
}

.product-info {
    padding: 20px 20px 16px 20px;
}

.product-info h2 {
    font-size:25px;
    font-weight: 700;
    color: #222;
}

.price-buy {
    display: flex;
    align-items: center;
    margin: 5px;
}

.price {
    color: #F4A727;
    font-weight: bold;
    font-size: 20px;
    margin-right: 100px;
}

.buy-btn {
    
    color: #fff;
    border: 2px solid orange;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
}
.footer {
  background-color: #e88d28;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  position: sticky;
  bottom: 0;
  z-index: 100px;
}
.footer a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}