*{
    margin: 0;
    padding: 0;
}
 body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #faf9f6;
    color: #223;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.95);
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  color: #eda93b;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
  display: flex;
}
.logo-text {
  color: #ee5822;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
}
.gift-icon {
  font-size: 32px;
}
 .search-bar{
    width: 40%;
 }
    .search-bar input {
      width: 60%;
      padding: 8px 10px;
      margin-left: 10%;
      border: 2px solid #070505;
      border-radius: 20px;
    }
a {
  text-decoration: none;
  color: #e88d28;
} 
.help-section {
  background-color: #fdf6ec;
  border-radius: 15px;
  padding: 30px 40px;
  text-align: center;
  margin-bottom: 250px;
  margin-top: 250px;
  margin-left: 350px;
  margin-right: 350px;
}

.help-section h2 {
  color: #611b35;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 700;
}

.help-section p {
  color: #5b3c3c;
  font-size: 15px;
  margin-bottom: 25px;
}

.help-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 40px;
  padding: 12px 35px;
  color: white;
}

.whatsapp {
  background-color: #25d366;
}

.call {
  background-color: #007bff;
}

.btn i {
  margin-right: 10px;
  font-size: 18px;
}

.whatsapp:hover {
  background-color: #1ebe5d;
}

.call:hover {
  background-color: #006ae0;
}



