
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #faf9f6;
    color: #223;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.95);
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  color: #eda93b;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
  display: flex;
}
.logo-text {
  color: #ee5822;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
}
.gift-icon {
  font-size: 32px;
}
 .search-bar{
    width: 40%;
 }
    .search-bar input {
      width: 60%;
      padding: 8px 10px;
      margin-left: 10%;
      border: 2px solid #070505;
      border-radius: 20px;
    }
a {
  text-decoration: none;
  color: #e88d28;
} 



main{
    margin-bottom: 370px;
}
h1{
    margin-left: 100px;
}

.order-card {
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  border-radius: 14px;
  border: 2px solid #eb8d36;
  box-shadow: 0 4px 12px 4px rgba(0,0,0,0.08);
  padding: 25px 30px;
}

.order-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
  margin-bottom: 18px;
}

.order-header h3 {
  color: #333;
  font-weight: 600;
  margin-bottom: 5px;
}

.order-header p {
  margin: 0;
  color: #555;
  font-size: 15px;
}


.order-body {
  display: flex;
  align-items: center;
  gap: 25px;
}

.order-image {
  width: 120px;
  height: 130px;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.order-info p {
  font-size: 15px;
  margin: 6px 0;
}

.view-btn {
  
  border: 2px solid orange;
  color: #fff;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;

}
.footer {
  background-color: #e88d28;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  position: sticky;
  bottom: 0;
  z-index: 100px;
}
.footer a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}







