
   body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #faf9f6;
    color: #223;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.95);
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  color: #eda93b;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
  display: flex;
}
.logo-text {
  color: #ee5822;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
}
.gift-icon {
  font-size: 32px;
}
 .search-bar{
    width: 40%;
 }
    .search-bar input {
      width: 60%;
      padding: 8px 10px;
      margin-left: 10%;
      border: 2px solid #070505;
      border-radius: 20px;
    }
a {
  text-decoration: none;
  color: #e88d28;
} 

      .order-container {
        background: #fff;
        width: 700px;
        border-radius: 12px;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
        padding: 30px;
        margin-bottom: 6%;
        margin-left: 23%;
        margin-top: 5%;
      }

      .order-header {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 25px;
      }

      .order-header img {
        width: 130px;
        height: 100px;
        border-radius: 8px;
        margin-right: 20px;
      }



      .status-step {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
      }

      .status-circle {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #ddd;
        margin-right: 15px;
        z-index: 1;
      }

      .status-step.active .status-circle {
        background: #28a745;
      }



      

      .cancel-btn {
        width: 100%;
        border: none;
        border-radius: 6px;
        padding: 14px;
        font-size: 16px;
        cursor: pointer;
        font-weight: 600;
        margin-top: 30px;
      }

      .cancel-btn:hover {
        background: red;
      }

    
      .footer {
        background-color: #e88d28;
        padding: 15px;
        text-align: center;
        font-size: 14px;
        position: sticky;
        bottom: 0;
      }

      .footer a {
        margin: 0 10px;
        text-decoration: none;
        color: #333;
      }


 